package views

import (
	"github.com/mrrizkin/boot/resources/views/layouts"
	"github.com/mrrizkin/boot/resources/views/utils/vite"
)

templ Welcome(name string) {
	@layouts.BaseLayout(vite.Vite("resources/assets/ts/app.ts")) {
		<h1>Hi! Greetings, { name }!</h1>
	}
}
