package views

import (
	"github.com/mrrizkin/boot/system/helpers/vite"

	"github.com/mrrizkin/boot/resources/views/layouts"
)

templ Welcome(name string) {
	@layouts.BaseLayout(vite.Vite("resources/assets/js/app.js")) {
		<h1>Hi! there, { name }!</h1>
		<p>Something is not right</p>
	}
}
