package vite

templ ViteClient() {
	@templ.Raw(viteInstance.RenderClientTag())
}

templ Vite(entries ...string) {
	if viteInstance.IsDev() {
		@templ.Raw(viteInstance.RenderDevEntriesTag(entries...))
	}
	@templ.Raw(viteInstance.RenderEntriesTag(entries...))
}

templ ReactRefresh() {
	@templ.Raw(viteInstance.RenderReactRefreshTag())
}
