package dashboard

import "github.com/mrrizkin/gobest/resources/views/layouts"

templ Index() {
	@layouts.AppLayout() {
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Dashboard</h1>
				</div>
			</div>
		</div>
	}
}
